.custom-navbar {
    background-color: #004080 !important; 
}

.custom-navbar-brand img {
    height: 40px; 
}

.custom-navbar-nav .custom-nav-link {
    color: #ffffff !important; 
    transition: color 0.2s ease; 
}

.custom-navbar-nav .custom-nav-link:hover{
    color: #FFD700 !important;
}

.custom-form-control {
    border-radius: 0.25rem; 
    border-radius: 6px 0px 0px 6px !important;
}


.custom-btn {
    color: #004080 !important; 
    background-color: #FFD700 !important;
    border-radius: 0px 6px 6px 0px !important;
}

.custom-navbar-collapse .custom-navbar-nav {
    margin-right: auto; 
}

.custom-navbar-collapse .custom-search-form {
    margin-left: 20px;
}

.custom-navbar-toggler {
    border-color: #004080 !important;
}

.custom-navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E') !important; /* Custom toggle icon color */
}
