footer {
    color: #C9C9C9;
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #1A76D1;
}